<!-- dynamic-form.component.html -->
<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()" class="dynamic-form">
    <!-- FormArray for dynamicFields -->
    <div formArrayName="dynamicFields">
        <!-- Iterate over dynamicFields FormArray -->
        <div *ngFor="let field of dynamicFields.controls; let i = index;" class="form-group" [formGroupName]="i">
            <!-- Input for field name -->
            <label for="fieldName{{i}}">Name</label>
            <input id="fieldName{{i}}" formControlName="name" placeholder="Enter field name">

            <!-- Select for field type -->
            <label for="fieldType{{i}}">Type</label>
            <select id="fieldType{{i}}" formControlName="type">
                <option value="text">Text</option>
                <option value="number">Number</option>
                <!-- Add more options for other types as needed -->
                <option value="boolean">Boolean</option>
                <option value="multiple-choice">Multiple Choice</option>
            </select> <br>

            <!-- Input for field value -->
            <div *ngIf="field.value.type === 'boolean'">
                <label>Value</label>
                <div>
                    <input type="radio" id="true{{i}}" [value]="true" formControlName="value">
                    <label for="true{{i}}">True</label>
                </div>
                <div>
                    <input type="radio" id="false{{i}}" [value]="false" formControlName="value">
                    <label for="false{{i}}">False</label>
                </div>
            </div>

            <div *ngIf="field.value.type === 'multiple-choice'">
                <label>Value</label>
                <!-- Display color options as checkboxes -->
                <div *ngFor="let option of colors">
                    <input type="checkbox" [value]="option" formControlName="value">
                    <label>{{ option }}</label>
                </div>
            </div>

            <input *ngIf="field.value.type !== 'boolean' && field.value.type !== 'multiple-choice'" id="fieldValue{{i}}"
                formControlName="value" placeholder="Enter field value">

            <!-- Button to delete the field -->
            <button type="button" (click)="deleteField(i)" class="btn-delete">Delete</button>
        </div>
    </div>

    <!-- Button to add a new field -->
    <button type="button" (click)="addField()" class="btn-add">Add Field</button>


    <!-- Button to submit the form -->
    <button type="submit" class="btn-submit">Submit</button>

    <!-- Button to reset the form -->
    <button type="button" (click)="resetForm()" class="btn-reset">Reset</button>
</form>

<!-- Display submitted data -->
<div *ngIf="submittedData" class="submitted-data">
    <h2>Submitted Data</h2>
    <pre>{{ submittedData | json }}</pre>
</div>